{% extends 'registration/home.html' %}
{% load static %}

{% block content %}
  <h2>Update Itinerary</h2>
  <form method="post">
    {% csrf_token %}
    <div id="itineraryview">
      <label for="itinerary_name" style='padding: 10px'>Itinerary Name:</label>
      <input type="text" id="itinerary_name" name="itinerary_name" value="{{ itinerary.itinerary_name }}">
    </div>
  <div id="viewbusinessnames">
    <label for="businesses" style='padding: 20px'>Businesses:</label>
    <select id="businesses" name="businesses" multiple>
      {% for business in businesses %}
        <option value="{{ business.id }}" {% if business in itinerary.business_list.all %}selected{% endif %} style="width: 100%; height: 15px;"> {{ business.business_name }} </option>
      {% endfor %}
    </select>
  </div>
    <button id="updatebutton" onmousedown="this.style.backgroundColor='darkgreen';" onmouseup="this.style.backgroundColor='green';" class="btn btn-danger" type="submit">Update</button>
  </form>
{% endblock %}